body {
background-color: #e3e3e3;

}

header {
    background-color: #fff;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    position: relative;
    top: -80px;
    border-radius: 15px;
    padding: 30px;
	
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.preheader {
    height: 50vh;
    background-color: #000000;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    color: #ffffff;
     font-family: 'Roboto',
     sans-serif;
     text-transform: uppercase;
     padding-top: 30px;
}

.preheader h2 {
    font-size: 49px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.preline {
    width: 120px;
    margin: auto;
    padding: 1px;
   -webkit-box-shadow: 0px 8px 0px 0px rgba(255, 0, 255, 1);
   -moz-box-shadow: 0px 8px 0px 0px rgba(255, 0, 255, 1);
   box-shadow: 0px 8px 0px 0px rgba(255, 0, 255, 1);
   margin-bottom: 20px;
}

.preheader h3 {
    font-size: 28px;
     font-family: 'Chelsea Market',
     cursive;
}

.warning {
    color: red;
    font-size: 16px !important;
}

.preheader img {
    margin-top: 0;
    padding-top: 0;
    height: 60px;
}



.navbar {
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    font-family: 'Chelsea Market',
    cursive;
    background-color: #000000 !important;
}

.navbar-brand {
    font-size: 28px;
    color: #D4AF37 !important;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    opacity: 1;
    color: #ffb600 !important;
}


.header-title {
    color: #000000;
      font-family: 'Roboto',
      sans-serif;
      font-weight: 500;
      font-size: 33px;
}

.line {
    width: 30px;
    border-bottom: 2px solid #000;
    transition: 0.3s;
    margin-bottom: 15px;
}

header:hover .line {
    width: 100px;
}

.header-subtitle {
    font-size: 22px;
    margin-bottom: 30px;
}

p {
    font-size: 20px;
    opacity: 0.8;
    padding: 15px;
    transition: 0.3s all; 
}

.p1,.p2,.p3 {
    position: relative;
}

.p1, .p2, .p3 {
    -webkit-box-shadow: 0px 8px 5px 0px rgba(173, 157, 173, 1);
    -moz-box-shadow: 0px 8px 5px 0px rgba(173, 157, 173, 1);
    box-shadow: 0px 8px 5px 0px rgba(173, 157, 173, 1);
    top: -5px;
    right: -5px;
}




.br-list {
    margin-top: 30px;
    font-size: 22px;
    color: red;
    margin-bottom: 30px;
}

.br-ul {
    padding: 0;
}

.br-ul li {
    list-style: none;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.br-ul a{
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 15px;
    color: #ff00ff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 0, 255, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255, 0, 255, 1);
    box-shadow: 0px 0px 5px 0px rgba(255, 0, 255, 1);
    transition: 0.3s;
}

.br-ul a:hover {
-webkit-box-shadow: 0px 2px 0px 1px rgba(255, 0, 255, 1);
-moz-box-shadow: 0px 2px 0px 1px rgba(255, 0, 255, 1);
box-shadow: 0px 2px 0px 1px rgba(255, 0, 255, 1);
}

footer {
    padding: 30px;
    background-color: #000000;
    text-align: center;
    font-family: 'Chelsea Market',
    cursive;
    color: #ffb600;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

footer b a{
    color: #ffffff;
    border-bottom: 1px solid #fff;
    text-decoration: none !important;
}

footer b a:hover {
 color: #ffffff;
 opacity: 0.8;
}

.soc-seti li {
    list-style: none;
}

.soc-seti a {
    color: #ffffff;
}

.r-part {
    text-align: center;
}

.gold-corner {
    text-align: right;
	margin-left:auto;
	margin-top:30px;
	
	
}
.gold {
    width: 100px;
    text-align: right !important;
	
}

.stock-01 {
    width: 300px;
    margin-bottom: 30px;    
-webkit-box-shadow: 0px 3px 5px 2px rgba(166,149,166,1);

-moz-box-shadow: 0px 3px 5px 2px rgba(166,149,166,1);

box-shadow: 0px 3px 5px 2px rgba(166,149,166,1);

}

